.wrap {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.emoji{
  font-size: 38px;
  animation-name: emojiAnime;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes emojiAnime {
  0% {transform: translateY(-10px);}
  50% {transform: translateY(10px);}
  100% {transform: translateY(-10px);}
}
