@import './common/variable.scss';

.contentWrap{
  background-color: var(--sub-bg);
  transition: background-color 0.3s ease;
  padding: 16px;
  @include mq(sp){
    padding: 0px;
  }
}
.svg{
  width: 100%;
  height: 500px;
  display: block;
  margin: 0 auto;

  path{
    // fill: var(--color-text);
    // stroke: var(--color-text);
  }
}
.post{
  max-width: 750px;
  margin: 0 auto;
  padding: 0 32px;
  position: relative;

  .category{
    a{
      background: #5b7dff;
      padding: 4px 16px;
      font-weight: bold;
      border-radius: 16px;
      margin-top: 8px;
      display: inline-block;
      color: white;
    }
  }

  header{
    h1 {
      font-size: 1.8rem;
      font-weight: 600;
      text-align: center;
      padding: 20px 0px;
      margin: 0px;
    }
    p {
      font-family: var(--font-heading);
      font-size: 0.9rem;
      font-style: italic;
      position: relative;
      padding: 0px 35px;
      text-align: center;
    }
    .tags{
      margin-top: 16px;
      justify-content: center;
      font-size: 1rem;
      display: flex;

      a{
        margin-right: 8px;
        border-radius: 16px;
        padding: 3px 8px;
        background: #eaeaea;
        display: inline-block;
        font-size: 0.8rem;
        margin-bottom: 8px;
      }
    }
  }
  section{
    h2{
      position: relative;
      font-size: 1.4rem;
      margin-top: 50px;
      padding-bottom: 10px;
      margin-bottom: 20px;
      font-weight: 600;
      width: 100%;
      border-bottom: 2px solid #bfb2ff;
    }
    h3{
      font-size: 1.2rem;
      position: relative;
      padding-left: 12px;
      margin: 24px 0;

      &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 3px;
        width: 6px;
        height: 100%;
        background: #bfb2ff;
      }
    }
    // 引用
    blockquote {
      color: #535a65;
      border-left: var(--spacing-1) solid #8e97b1;
      font-size: var(--fontSize-2);
      font-style: italic;
      margin-bottom: var(--spacing-8);
      background: #efefef;
      padding: 16px;
    }
    blockquote > :last-child {
      margin-bottom: var(--spacing-0);
    }
    blockquote > ul,
    blockquote > ol {
      list-style-position: inside;
    }
  }
}

.nav{
  margin: 16px;

  ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
  }
}


.skills{
  display: grid;
  list-style: none;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding: 0;
  @include mq(sp){
    grid-template-columns: repeat(1, 1fr);
  }

  li{
    border: 1px solid var(--line-color);
    border-radius: 16px;
    padding: 8px;
    display: flex;
    align-items: center;

    svg{
      font-size: 30px;
      margin-right: 8px;
    }
  }
}
