.wrap {
  display: flex;
  margin-bottom: var(--spacing-10);
  justify-content: center;

  p {
    margin-bottom: var(--spacing-0);
  }

  .avatar {
    margin-right: var(--spacing-4);
    margin-bottom: var(--spacing-0);
    min-width: 50px;
    border-radius: 100%;
  }
}


