@import './common/variable.scss';

.wrap{
  &[data-is-menu-open="true"]{
    overflow: hidden;
  }
}

.siteOverlay{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
  -webkit-animation: fade 0.5s;
  animation: fade 0.5s;
  z-index: 1;

  [data-is-menu-open="true"] > &{
    display: block;
  }
}

.contentWrap {
  margin: var(--spacing-0) auto;

  transition: transform .3s;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 64px 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "foot";
  min-height: 100vh;

  @include mq(tb){
    max-width: 100%;
  }

  [data-is-menu-open="true"] > &{
    transform: translateX(200px);
    height: 100vh;
    overflow: hidden;
  }

  .mainWrap{
    transition: background-color 0.3s ease;
    background-color: var(--content-bg);
    grid-area: main;
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    width: 100%;
    justify-content: center;

    @include mq(sp){
      max-width: 100%;
      padding: 0px;
    }
  }

  aside{
    @include mq(tb){
      display: none;
    }
  }

}


