@import './common/variable.scss';
.contentWrap{
  padding: 16px 0;
  max-width: 750px;

  @include mq(sp){
    padding: 16px;
  }
}
.blogs {
  list-style: none;
  display: grid;
  justify-content: center; /* グリッド全体を中央に寄せる設定 */
  grid-gap: 10px;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
  @include mq(sp){
    grid-template-columns: repeat(2, 1fr);
  }


  li{
    border-radius: 16px;
    overflow: hidden;
    transition:transform .3s;
    border: 1px solid var(--line-color);
    background-color: var(--sub-bg);
    transition: background-color 0.3s ease;
    box-shadow: 1px 1px 0px rgb(0 0 0 / 5%);
    z-index: 1;

    &:hover{
      transform:scale(1.05)
    }
  }

  article{
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .thumbnail{
    min-height: 120px;
    max-height: 120px;
    border-radius: 16px 16px 0 0;
  }

  header {
    padding: 16px;

    h2 {
      max-height: 2rem;
      font-weight: bold;
      overflow: hidden;
      line-height: 1rem;
      font-size: 1rem;
      margin: 0;
      height: 2rem;
      margin-bottom: 8px;
    }

    .meta{
      display: flex;
      justify-content: space-between;
      align-items: center;

      small{
        color: var(--color-text);
      }

      .category{
        color: var(--color-text);
        font-size: 0.8rem;
      }
    }
  }
}
