@import './common/variable.scss';

.title {
  display: flex;
  align-items: center;

  a{
    display: flex;
    align-items: center;
    height: 20px;
  }
  svg{
    font-size: 20px;
  }
  span{
    height: 20px;
    line-height: 20px;
    margin: 0 4px;
  }
  h2{
    margin: 0;
  }
}
