@import './common/variable.scss';

.wrap {
  padding: 16px;

  .news{
    max-width: 240px;
    min-width: 240px;
    background-color: var(--sub-bg);
    transition: background-color 0.3s ease;
    min-height: 250px;
    border-radius: 16px;
    border: 1px solid var(--line-color);
    padding: 16px;
    position: sticky;
    top: 16px;
  }
}


