@import './common/variable.scss';

.wrap{
  width: 50px;
  height: 30px;

  background-color: #ebefff;
  border: 1px solid var(--line-color);
  border-radius: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  position: relative;
  svg{
    width: 15px;
    height: 15px;
  }
}

input[type='checkbox']:checked + .wrap {
  background-color: #080882;
}

input[type='checkbox'] {
  opacity: 0;
  z-index: -1;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type='checkbox']:checked + .wrap > .btn {
  transform: none;
  left: 5px;
}

.btn {
  transform: translateX(calc(100% - 10px));
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: all 0.3s ease;
  position: absolute;
  background-color: #f6f6f6;
  margin-bottom: 0;
  border: 1px solid;
}