// width
$sp_width: 576px;
$tb_width: 992px;
$pc_width: 1120px;

// breakpoints
$breakpoints: (
  'sp': 'screen and (max-width: #{$sp_width})',
  'tb': 'screen and (max-width: #{$tb_width})',
  'pc': 'screen and (max-width: #{$pc_width})',
) !default;

@mixin mq($bp: sp) {
  @media #{map-get($breakpoints, $bp)} {
    @content;
  }
}
